body{
    font-family: "Lato", sans-serif;
    font-weight: 100;
    font-style: normal;

}
.Banner{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-image: url(./assets/Hero-bg.png);
}

.button{
    background-color: black;
    color: white;
    border-radius: 3px;
}


/*section 1 style */

.sec-1{
    text-align: center;
    margin: auto;
    padding: 50px 120px;
    
    
}
.web-dev-container{
    display: flex;
    justify-content: space-between;
     margin: 20px;
    text-align: left;
    padding: 0px 50px;
    background-color: white;
    gap: 10pz;
    background-image: linear-gradient(to right, #ffffff, #f2f2f2);
     
    
}

.reverse-shadow{
    background-image: linear-gradient(to left, #ffffff, #f2f2f2);

}
.web-dev{
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding: 30px 30px;
    background-color: rgb(244, 244, 244); 
    
    
    padding: 30px 30px;
    border: 10px 10px;
    
}

/*.web-dev-container1{
    
    align-items: center;
    text-align: center;
    background-color: rgb(244, 244, 244); 

}*/

/* section 2 style */
.sec-2{
    display: flex;
    align-items: center;
    text-align: center;
}

/* section target style */
.target{
    text-align: center;
    padding: 50px 100px;
    margin: 50px;
    border-radius: 15px;
}   

.Target-box{

    display: flex;
    justify-content: space-around;
    gap: 24px 24px;
    padding: 50px;
}

.target-container1{
    text-align: left;
    
    padding:20px;
    background-color: #fff1f1;
    
    border-radius: 20px;
    max-width: 200px;
}

.target-container2{
    text-align: left;
    background-color: #f0f3fd;
    padding:20px;
    border-radius: 20px;
    max-width: 200px;
}

.target-container3{
    text-align: left;
    background-color: #fcfdf0;
    padding:20px;
    
    border-radius: 20px;
    max-width: 200px;
}

/* support section style */
.support-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-image: url(/assets/handshake.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 350px;
    background-color: rgb(58, 58, 58);
    background-blend-mode: overlay;

}


/* footer style */
.footer-1{
    display: flex;
    text-align: center;
    justify-content: space-between;
    flex-direction: row;
    background-color: #f2f2f2;
    padding: 15px 55px;

}
.icon{

}

.button{
    text-decoration: none;
}