body{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.Banner{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-image: url(./assets/Hero-bg.png);
    margin-top: 50px;
    text-align: center;
    padding: 50px 150px;
}


.button{
    
    border-radius: 8px;
    background: rgb(13, 19, 33);
    color: white;
    border: none;
    padding: 21px 24px 21px 24px;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
    display: block;
    margin: 35px auto;
    cursor: pointer;
    
}


/*section 1 style */

.sec-1{
    text-align: center;
    margin: auto;
    padding: 50px 120px;
    
    
}
.web-dev-container{
    display: flex;
    justify-content: space-between;
     margin: 20px;
    text-align: left;
    padding: 0px 50px;
    background-color: white;
    gap: 10pz;
    background-image: linear-gradient(to right, #ffffff, #f2f2f2);
     
    
}

.reverse-shadow{
    background-image: linear-gradient(to left, #ffffff, #f2f2f2);

}
.web-dev{
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding: 30px 30px;
    background-color: rgb(244, 244, 244); 
    
    
    padding: 30px 30px;
    border: 10px 10px;
    
}

/*.web-dev-container1{
    
    align-items: center;
    text-align: center;
    background-color: rgb(244, 244, 244); 

}*/

.inspiration{
    padding: 50px 100px;
    
}

.video{
    border: 5px 5px;
    border-color: black;
    border-radius: 10px;
}

/* section 2 style */
.sec-2{
    display: flex;
    align-items: center;
    text-align: center;
}

/* section target style */
.target{
    text-align: center;
    padding: 0px 100px;
    margin: 50px;
    border-radius: 15px;
}   

.Target-box{

    display: flex;
    justify-content: space-around;
    gap: 24px 24px;
    padding: 50px;
}

.target-container1{
    text-align: left;
    color: black;
    
    padding:20px;
    background-color: #fff1f1;
    
    border-radius: 20px;
    max-width: 200px;
}

.target-container2{
    text-align: left;
    background-color: #f0f3fd;
    padding:20px;
    border-radius: 20px;
    max-width: 200px;
    
}

.target-container3{
    text-align: left;
    background-color: #fcfdf0;
    padding:20px;
    
    border-radius: 20px;
    max-width: 200px;
    
}

.Learn{
    color: black;
}
.support{
    align-items: center;
    padding: 0 100px;
 
}
/* support section style */
.support-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-image: url("./assets/handshake.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 350px;
    background-color: rgb(58, 58, 58);
    background-blend-mode: overlay;
    color: white;
    text-align: center;
    padding: 50x 150px;
    border-radius: 10px;

}

.placeholder{
    align-items: center;
    font-size: 20px;
    width: 280px;
    height: 30px;
    border-radius: 5px;

}

.sub-button{
    width: 100px;       
    height: 37px;  
    font-size: 20px;
    border-radius: 5px;
}

/* footer style */
.footer-1{
    display: flex;
    text-align: center;
    justify-content: space-between;
    flex-direction: row;
    background-color: #f2f2f2;
    padding: 15px 55px;

}
.icon{

}

.button{
    text-decoration: none;
}