body{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.Banner{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-image: url(./assets/Hero-bg.png);
    margin-top: 50px;
    text-align: center;
    padding: 50px 150px;
    height: 70vh;
}
.Banner p{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    opacity: 0.7;
    width: 892px;
    margin: 20px auto;
}


.button{
    
    border-radius: 8px;
    background: rgb(13, 19, 33);
    color: white;
    border: none;
    padding: 21px 24px 21px 24px;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
    display: block;
    margin: 35px auto;
    cursor: pointer;
    
}


/*section 1 style */

.sec-1{
    text-align: center;
    margin: auto;
    padding: 50px 120px;
    
    
}
.web-dev-container{
    display: flex;
    justify-content: space-between;
     margin: 20px;
    text-align: left;
    padding: 0px 50px;
    background-color: white;
    gap: 10pz;
    background-image: linear-gradient(to right, #ffffff, #f2f2f2);
     
    
}

.reverse-shadow{
    background-image: linear-gradient(to left, #ffffff, #f2f2f2);

}
.web-dev{
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding: 30px 30px;
    background-color: rgb(244, 244, 244); 
    
    
    padding: 30px 30px;
    border: 10px 10px;
    
}
.button-2{
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 1);
    opacity: 0.7;
    margin: 32px 0px;
    padding: 12px 20px 12px 20px;
    }

/*.web-dev-container1{
    
    align-items: center;
    text-align: center;
    background-color: rgb(244, 244, 244); 

}*/

.inspiration{
    padding: 50px 100px;
    
}

.video{
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;
    width: 1200px;
    height: 600px;
    margin: 0 auto;
}

.video iframe{
    margin: 35px;
    height: 500px;
    border-radius: 16px;
    width: 1200px;
  
  


}

/* section 2 style */
.sec-2{
    display: flex;
    align-items: center;
    text-align: center;
}

/* section target style */
.target{
    text-align: center;
    padding: 0px 100px;
    margin: 50px;
    border-radius: 15px;
}   

.Target-box{

    display: flex;
    justify-content: space-around;
    gap: 24px 24px;
    padding: 50px;
}

.target-container1{
    text-align: left;
    color: black;
    
    padding:20px;
    background-color: #fff1f1;
    
    border-radius: 20px;
    max-width: 200px;
}

.target-container1 P{
    color: rgb(13, 19, 33);
  opacity: 0.7;
  font-size: 16px;
  
  font-weight: 400;
}
  

.target-container2{
    text-align: left;
    background-color: #f0f3fd;
    padding:20px;
    border-radius: 20px;
    max-width: 200px;
    
}

.target-container2 P{
    color: rgb(13, 19, 33);
  opacity: 0.7;
  font-size: 16px;
  
  font-weight: 400;
}
  

.target-container3{
    text-align: left;
    background-color: #fcfdf0;
    padding:20px;
    
    border-radius: 20px;
    max-width: 200px;
    
}

.target-container3 P{
    color: rgb(13, 19, 33);
  opacity: 0.7;
  font-size: 16px;
  
  font-weight: 400;
}
  

.target-p{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 500;
  
    text-align: center;
    opacity: 0.7;
    width: 892px;
    margin: 20px auto;
}

.Learn{
    color: black;
}
.support{
    align-items: center;
    padding: 0 100px;
 
}
/* support section style */
.support-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-image: url("./assets/handshake.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 350px;
    background-color: rgb(58, 58, 58);
    background-blend-mode: overlay;
    color: white;
    text-align: center;
    padding: 50x 150px;
    border-radius: 10px;

}

.placeholder{
    align-items: center;
    font-size: 18px;
    width: 320px;
    height: 40px;
    border-radius: 5px;
    box-sizing: border-box;
  border: 1px solid rgba(13, 19, 33, 0.15);
  border-radius: 8px;
  background: rgb(255, 255, 255);
  padding: 10px;

}


.placeholder::placeholder{
    padding-left:10px ;
    
    }



.sub-button{
    width: 100px;       
    height: 37px;  
    font-size: 20px;
    border-radius: 5px;
    box-sizing: border-box;
  border: 1px solid rgba(13, 19, 33, 0.15);
  border-radius: 8px;
  background: rgb(255, 255, 255);
  cursor: pointer;
}

/* footer style */
.footer-1{
    display: flex;
    text-align: center;
    justify-content: space-between;
    flex-direction: row;
    background-color: #f2f2f2;
    padding: 15px 55px;

}
.icon{

}

.button{
    text-decoration: none;
}

.web-dev p{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 500;
    
    text-align: left;
    opacity: 0.7;
    width: 650px;
    margin: 20px auto;
}

.inspiration p{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 500;
    
    text-align: center;
    opacity: 0.7;
    width: 1200px;
    margin: 20px auto;
}

